[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "crs"]
	path = crs
	url = https://github.com/jeffreyracine/r-package-crs
[submodule "np"]
	path = np
	url = https://github.com/jeffreyracine/r-package-np
